[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=PhoneGap App
Exec=/opt/phonegap_qt/bin/phonegap_demo
Icon=/usr/share/icons/hicolor/80x80/apps/phonegap_demo.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
#/usr/bin/invoker --type=d --single-instance
